numpy
pandas
openpyxl
ipykernel
requests
kaggle
google-genai
scikit-learn
matplotlib
google-generativeai
ipywidgets
streamlit
plotly
bertopic
hf_xet
nbformat
spacy
implicit
sentence-transformers
joblib
seaborn
kaleido
copy

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl